<div class="form-row">
  <div class="form-item">
    <label>Email</label>
    <input type="email" name="email">
  </div>
  <div class="form-item">
    <label>Password</label>
    <input type="password" name="password">
  </div>
</div>